{% extends 'xml_repository_base.html' %}

{% block page_title %} {{ repository.name }} {% endblock %}

{% block main_content %}
<h3 class="sub-header">{{ repository.name }}</h2>
<div class="table-responsive">
<table class="table table-striped">
  {{repository.changed_xml_files }}
  <thead>
    <tr>
      {% for file_key in repository.formatted_content_list.0.keys %}
      <th>{{ file_key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for file in repository.formatted_content_list %}
    <tr>
      {% for file_value in file.values %}
      <td>{{ file_value }}</td>
      {% endfor %}
      <td><a href="{% url 'edit_xml_file' repository.name "LOC1001Aallee.xml" %}">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %} 
